@{
    ViewBag.Title = "Map";
}

<div class="jumbotron">
    <h1>NHibernate.Spatial</h1>
    <p class="lead">NHibernate.Spatial is a open source extension to NHibernate for building great GIS enabled applications.</p>
</div>

<div class="row">
	<div id="map"></div>
</div>