<?xml version="1.0"?>
<connectionStrings>
  <add name="MySQL" connectionString="Server=vm-win2k12-db;Database=mysqldemo;Uid=mysqldemo;Pwd=mysqldemo;" />
  <add name="MySQL-Linux" connectionString="Server=10.1.1.207;Database=mysqldemo;Uid=mysqldemo;Pwd=mysqldemo;" />
  <add name="Postgres" connectionString="Server=vm-win2k12-db;Database=postgresdemo;Uid=postgresdemo;Pwd=postgresdemo;" />
</connectionStrings>